---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items-center h-screen w-screen bg-black/70">
		<h1 class="text-6xl text-white text-center caveat-light">En construcción</h1>
	</main>
</Layout>

<style>
	.caveat-light {
		font-family: "Caveat", cursive;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
	}
</style>

