---
import Layout from '../layouts/Layout.astro';

import ImagesSlider from '@/sections/ImagesSlider.astro';
import Navbar from '@/sections/Navbar.astro';
import Hero from '@/sections/Hero.astro';
import Countdown from '@/sections/Countdown.astro';
import Invitation from '@/sections/Invitation.astro';
import Form from '@/sections/Form.astro';
import Address from '@/sections/Address.astro';
import Gallery from '@/sections/Gallery.astro';
import Footer from '@/sections/Footer.astro';
---

<Layout title="Libe & Danel">
	<main class="flex flex-col justify-center items-center">
		<ImagesSlider/>
		<Navbar/>
		<Hero/>
		<Countdown/>
		<Invitation/>
		<Address/>
		<Gallery/>
		<!-- <Form/> -->
		<Footer/>
	</main>
</Layout>

