---
import Layout from '../layouts/Layout.astro';

import Countdown from '@/sections/Countdown.astro';
---

<Layout title="Libe & Danel Demo">
	<main class="flex flex-col justify-center items-center h-screen w-screen bg-black/70">
		<h1 class="text-8xl text-white text-center">Libe & Danel</h1>
		<Countdown/>
	</main>
</Layout>

