---
import Typography from '@/components/Typography.astro'
---

<div
    class:list={[
        "h-fit flex flex-col items-center bg-white rounded-lg p-8 shadow-[0_8px_30px_rgb(0,0,0,0.12)] z-10",
        Astro.props.class
    ]}
 class="">
    <Typography as="h3" variant="h3" color="secondary" class:list={""}>
        ¿Contamos contigo?
    </Typography>
    
    <form name="contact" action="?contact-sended=true" method="POST" data-netlify="true" class="w-full flex flex-col gap-6 mt-8">
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Asistencia</label>
            <div class="flex items-center gap-4">
                <label class="flex items-center">
                    <input type="radio" name="Asistencia" value="Sí" class="bg-gray-50 border border-gray-300 text-gray-900" required />
                    <span class="ml-2 text-sm text-gray-900">Sí</span>
                </label>
                <label class="flex items-center">
                    <input type="radio" name="Asistencia" value="No" class="bg-gray-50 border border-gray-300 text-gray-900" required />
                    <span class="ml-2 text-sm text-gray-900">No</span>
                </label>
            </div>        
        </div>
        
        <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombres</label>
            <input type="text" id="name" name="Nombres" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Nombres de los invitados" required />
        </div>
        
        <div>
            <label for="menu" class="block mb-2 text-sm font-medium text-gray-900">¿Necesitas un menú especial?</label>
            <textarea id="menu" rows="4" name="MenuEspecial" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Intolerancias, alergias, vegetariano..."></textarea>
        </div>
        
        <button type="submit" class="w-full text-white bg-accent focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 focus:outline-none">
            ENVIAR
        </button>
    </form>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Función para verificar si la query string contiene 'contactSended=true'
        const urlParams = new URLSearchParams(window.location.search);
        const contactSended = urlParams.get('contact-sended');

        // Si la query string contiene 'contactSended=true', mostrar el mensaje de éxito
        if (contactSended === 'true') {
            const successAlert = document.createElement('div');
            successAlert.className = 'p-6 mb-4 text-md text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 absolute top-4 right-4 z-50';
            successAlert.setAttribute('role', 'alert');
            successAlert.innerHTML = `
                <span class="font-medium">¡Gracias por enviarnos una respuesta!</span>
            `;

            // Insertar el mensaje al principio del cuerpo del documento o en el contenedor deseado
            document.body.insertAdjacentElement('afterbegin', successAlert);

            setTimeout(() => {
                successAlert.style.transition = 'opacity 0.5s'; // Añadir transición para desvanecer
                successAlert.style.opacity = '0'; // Desvanecer el mensaje
                setTimeout(() => successAlert.remove(), 500); // Eliminar el mensaje después de la transición
            }, 5000);

            const newUrl = `${window.location.pathname}`;
            history.replaceState(null, '', newUrl);
        }
    });
</script>