---
import Typography from '@/components/Typography.astro'
---

<div
    class:list={[
        "h-fit flex flex-col items-center bg-white rounded-lg p-8 shadow-[0_8px_30px_rgb(0,0,0,0.12)] z-10",
        Astro.props.class
    ]}
 class="">
    <Typography as="h3" variant="h3" color="secondary" class:list={""}>
        ¿Contamos contigo?
    </Typography>
    
    <form name="contact" method="POST" data-netlify="true">
        <p>
          <label>Your Name: <input type="text" name="name" /></label>
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <p>
          <label>Your Role: <select name="role[]" multiple>
            <option value="leader">Leader</option>
            <option value="follower">Follower</option>
          </select></label>
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
      
    
</div>