<div id="map" class={Astro.props.class}></div>

<script is:inline>
    function initMap() { 
        map = new google.maps.Map(document.getElementById('map'), { 
            center: {lat: 43.3498743, lng: -1.8264255}, 
            zoom: 13 
        }); 
        setMarker();
    }

    function addMarker(location) {
        marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }

    function setMarker() {
        sutan = new google.maps.LatLng(43.3498743, -1.8264255);
        addMarker(sutan);
    }

    initMap();
</script>