---
import CountdownComponent from '@/components/Countdown.astro';
---

<section id="countdown" class="w-full">
    <div class="bg-black/60 flex justify-center pt-16 pb-80">
        <!-- <CountdownComponent/> -->
    </div>
</section>


<style>
	section {
		background: url('/images/background.png');
		background-size: 300px;
		background-repeat: repeat;
	}
</style>