---
import ContactForm from "@/components/ContactForm.astro";
---

<section id="asistencia" class="w-full pt-12 pb-16 md:py-12 bg-primary/30 flex justify-center">
    <ContactForm class="w-11/12 md:w-5/6 lg:w-4/6"/>
</section> 