<section id="gallery" class="w-11/12 md:w-5/6 lg:w-4/6 flex flex-col items-center py-16 md:py-24 gap-8">
    <h5 class="text-xl text-center">NUESTROS RECUERDOS</h5>
    <h1 class="text-primary text-5xl text-center">Galería de fotos</h1>
    <h5 class="text-2xl text-center">¡Vuelve después de la boda a ver todas las fotos!</h5>
    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 mt-4 md:mt-8">
        <img class="rounded-xl h-[300px] w-full object-cover" src="/images/gallery/1.jpeg" alt="">
        <img class="rounded-xl h-[300px] w-full object-cover object-bottom" src="/images/gallery/2.jpeg" alt="">
        <img class="rounded-xl h-[300px] w-full object-cover" src="/images/gallery/3.jpg" alt="">
    </div>
</section>