<section id="gallery" class="w-11/12 md:w-5/6 lg:w-4/6 flex flex-col items-center py-16 md:py-24 gap-8">
    <h5 class="text-xl text-center">NUESTROS RECUERDOS</h5>
    <h1 class="text-primary text-5xl text-center">Galería de fotos</h1>
    <h5 class="font-thin text-2xl text-center">¡Vuelve después de la boda a ver todas las fotos!</h5>
    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 mt-4 md:mt-8">
        <a class="flex flex-col items-center gap-4">
            <img class="rounded-xl h-[240px] w-full object-contain hover:scale-105 transition shadow-lg" src="/images/proximamente.gif" alt="">
            <!-- <div class="h-[240px] w-full">Proximamente...</div> -->
            <span class="text-xl">Fotógrafo</span>
        </a>
        <a href="galeria/fotomaton" class="flex flex-col items-center gap-4">
            <img class="rounded-xl h-[240px] w-full object-contain hover:scale-105 transition shadow-lg" src="/images/fotomaton.jpg" alt="">
            <span class="text-xl">Fotomatón</span>
        </a>
        <a href="https://photos.app.goo.gl/YGd8VfKuNyR44RAa8" target="_blank" class="flex flex-col items-center gap-4">
            <img class="rounded-xl h-[240px] w-full object-contain hover:scale-105 transition shadow-lg" src="/images/google-fotos.png" alt="">
            <span class="text-xl">Invitados</span>
        </a>
    </div>
</section>