---
import Phone from '@/icons/phone.astro'
import Whatsapp from '@/icons/whatsapp.astro'
import Instagram from '@/icons/instagram.astro'
---

<section id="hero" class="w-full flex flex-col items-center py-24 px-6 gap-6">
    <h1 class="text-primary text-5xl">¡Ya nos hemos casado!</h1>
    <!-- <h5 class="font-thin text-xl text-center md:w-3/6">Un texto que queráis aquí. (Si no se quita)</h5> -->
    <article class="mt-8 flex flex-col items-center lg:flex-row gap-12">
        <div class="flex flex-col items-center gap-5 w-full md:w-[200px]">
            <span class="text-4xl text-nowrap">Libe Mancisidor</span>
            <div class="flex justify-between items-center w-4/5 md:w-full">
                <a class="w-[48px] h-[48px] flex justify-center items-center rounded-full p-3 border border-primary text-gray-400 hover:bg-primary hover:text-white" href="tel:634432870">
                    <Phone class="w-[16px] h-[16px]"/>
                </a>
                <a class="w-[48px] h-[48px] flex justify-center items-center rounded-full border border-primary text-gray-400 hover:bg-primary hover:text-white" href="https://wa.me/634432870">
                    <Whatsapp class="w-[24px] h-[24px]"/>
                </a>
                <a class="w-[48px] h-[48px] flex justify-center items-center rounded-full p-3 border border-primary text-gray-400 hover:bg-primary hover:text-white" href="https://instagram.com/libemancisidor/" target="_blank">
                    <Instagram class="w-[24px] h-[24px]"/>
                </a>
            </div>
        </div>
        <img class="rounded-full w-72 h-72 md:w-96 md:h-96 object-cover" src="/images/hero.jpg" alt="">
        <div class="flex flex-col items-center gap-5 w-full md:w-[200px]">
            <span class="text-4xl text-nowrap">Danel Álvarez</span>
            <div class="flex justify-between items-center w-4/5 md:w-full">
                <a class="w-[48px] h-[48px] flex justify-center items-center rounded-full p-3 border border-primary text-gray-400 hover:bg-primary hover:text-white" href="tel:688809606">
                    <Phone class="w-[16px] h-[16px]"/>
                </a>
                <a class="w-[48px] h-[48px] flex justify-center items-center rounded-full border border-primary text-gray-400 hover:bg-primary hover:text-white" href="https://wa.me/688809606">
                    <Whatsapp class="w-[24px] h-[24px]"/>
                </a>
                <a class="w-[48px] h-[48px] flex justify-center items-center rounded-full p-3 border border-primary text-gray-400 hover:bg-primary hover:text-white" href="https://instagram.com/danelovitz/" target="_blank">
                    <Instagram class="w-[24px] h-[24px]"/>
                </a>
            </div>
        </div>
    </article>
</section>