<section class="flex justify-center w-full pb-16 bg-primary/30">
    <article id="invitation" class="shadow-lg bg-white w-11/12 md:w-4/6 -mt-60 grid grid-cols-1 lg:grid-cols-2 rounded">
        <div class="flex flex-col pt-16 lg:pb-32 px-8 md:px-12">
            <h2 class="text-4xl text-right mb-6">LIBE MANCISIDOR<br>& DANEL ÁLVAREZ</h2>
            <hr class="border-primary mb-1">
            <hr class="border-primary mb-6">
            <p class="text-pretty mb-4">Danel siempre ha definido a Libe como su medio limón. Lo típico de las relaciones es tener una media naranja. Pero nosotros no somos lo típico y evidentemente, iguales tampoco.</p>
            <p class="text-pretty mb-4">Pero el limón, aunque de primeras sea muy ácido, al final acaba siendo el complemento perfecto de tu bebida favorita.</p>
            <p class="text-pretty">Y... hablando de bebida favorita, ¿te apetece un GinTonic el <b>doce de octubre</b>?</p>
        </div>
        <div class="flex flex-col justify-end py-16 px-8 md:px-12">
            <hr class="border-primary mb-1">
            <hr class="border-primary mb-6">
            <h5 class="text-2xl text-left mb-6">TOMA NOTA:</h5>
            <p class="text-pretty mb-4">La ceremonia dará comienzo a la una del mediodía entre los viñedos del Restaurante Sutan. Después, seguiremos la celebración con la comida y el baile.</p>
            <p class="text-pretty mb-4">Jaitzubia Auzoa, 266<br>Hondaribia, Gipuzkoa (20280)</p>
            <p class="text-pretty">¿Contamos contigo? <a href="tel:688809606">688809606</a> (Danel) - <a href="tel:634432870">634432870</a> (Libe)</p>
        </div>
    </article>
</section>