---
import Gallery from '@/components/Gallery.tsx';
import Layout from '@/layouts/Layout.astro';

import Footer from '@/sections/Footer.astro';


---

<Layout title="Libe & Danel">
	<main class="flex flex-col justify-center items-center">
		<section class="w-11/12 md:w-5/6 lg:w-4/6 flex flex-col items-center pt-8 pb-16 md:py-12 gap-8">
            <a href="/" class="flex items-center gap-2 hover:scale-105 transition">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-[12px]"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                Volver al inicio
            </a>
            <h5 class="text-xl text-center">NUESTROS RECUERDOS</h5>
            <h1 class="text-primary text-5xl text-center">Fotógrafo</h1>
        </section>

        <Gallery type="fotografo" client:load/>

		<Footer/>
	</main>
</Layout>