---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script is:inline src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGM-uTA21RRPDEIDSBVaVGLy8jjSZDTLI"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-primary: 150 169 147;
		--color-secondary: 33 37 41;
		--color-accent: 228 183 66;

		--background-color: #fff;
	}

	@font-face {
		font-family: Avenir;
		font-display: swap;
		src: url("/fonts/AvenirCondensedHand.woff2") format("woff2");
	}

	html {
		font-family: "Avenir", sans-serif;
	}

	main {
		position: relative;
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}

	/* Hiding class, making content visible only to screen readers but not visually */
	/* "sr" meaning "screen-reader" */
	.sr-only:not(:focus):not(:active) {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	@supports selector(::-webkit-scrollbar) {
		::-webkit-scrollbar {
			width: 10px;
			border-radius: 10px;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: theme("colors.primary");
			border: 2px solid transparent;
			background-clip: content-box;
		}

		::-webkit-scrollbar-thumb:active {
			background-color: #666;
		}

		::-webkit-scrollbar-track {
			background: var(--background-image);
		}

		::-webkit-scrollbar-corner {
			background: var(--background-image);
		}
	}

	@supports not selector(::-webkit-scrollbar) {
		* {
			scrollbar-color: theme("colors.primary") transparent;
			scrollbar-width: thin;
		}
	}
</style>
